<div class="col-sm-6 col-md-4" col-xs-12>
  <div class="card">

    <!--Card image-->
    <img class="img-fluid" src="../assets/flags250/ch.png"
         alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Card title</h4>

      <div class="stacked-bar-graph-vertical">
        <div style="height:35%" class="bar bar-1">
          <div class="span3 pull-right ">30%</div>
          <div class="span6 pull-left"><span class="align-middle">Male: Urban</span></div>
        </div>
        <div style="height:35%" class="bar bar-2">
          <div class="span3 pull-right ">30%</div>
          <div class="span6 pull-left"><span class="align-middle">Male: Urban</span></div>
        </div>
        <div style="height:35%" class="bar bar-3">
          <div class="span3 pull-right ">30%</div>
          <div class="span6 pull-left"><span class="align-middle">Male: Urban</span></div>
        </div>
        <div style="height:35%" class="bar bar-4">
          <div class="span3 pull-right ">30%</div>
          <div class="span6 pull-left"><span class="align-middle">Male: Urban</span></div>
        </div>
      </div>


      <button type="button" class="btn btn-primary">Primary</button>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
      <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    </div>

  </div>
</div>